#news{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
h1{
  text-align: center;
}
.article{
  width: 20%;
  border: 1px solid black;
}
img{
  width: 100%;
}

